:root{
    --color-1: #33404F;
    --color-2: #00DDA3;
    --color-3: #B5C5C3;
    --color-4: #FFFFFF;
    --color-5: #E1FFEF;
    --color-6: #c6c6c6;

    

    --space-layout-padding-lr:10px;
    --space-layout-padding-t:5px;
}

@font-face {
    font-family: "SF-Pro-Text-Bold";
    src: url(storage/font/SF-Pro-Text-Bold.otf);
}

@font-face {
    font-family:"SF-Pro-Text-Heavy";
    src: url(storage/font/SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family:"SF-Pro-Text-Light";
    src: url(storage/font/SF-Pro-Text-Light.otf);
}

@font-face {
    font-family:"SF-Pro-Text-Medium";
    src: url(storage/font/SF-Pro-Text-Medium.otf);
}

@font-face {
    font-family: "SF-Pro-Text-Semibold";
    src: url(storage/font/SF-Pro-Text-Semibold.otf);
}

@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(storage/font/SF-Pro-Text-Regular.otf);
}