<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BALANCE</title>
    <link rel="stylesheet" href="/CSS/Balance.css">

</head>
<body>
    <header>
        <div class="top">
            <div class="header__first">
                <img src="/storage/img/logo.svg" width="30">
                <h2>INVETO</h2>
            </div>
            <div class="second">
                <img src="/storage/img/menu.svg" width="30">
            </div>
        </div>
        <div class="move">
            <div class="Total">
                <div class="balance">
                    <h3>Total</h3>
                    <h3>Balance</h3>
                    <h3>$214,417</h3>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="ovals">
            <section class="Assets">
                <p>Assets</p>
            </section>
            <section class="Debt">
                <p>Debt</p>
            </section>
            <section class="Income">
                <p>Income</p>
            </section>
        </div>

        <div class="grafic">
            <img src="/storage/img/big.png">
        </div>
        
    

        <div class="speding">
            <div class="LET">
                <div class="letter">
                    <img src="/storage/img/x.svg" >
                </div>
            </div>
            <div class="anal">
                <div class="card">
                    <img src="/storage/img/Card.svg">
                </div>
                <div class="text">
                    <h4>Speding</h4>
                    <small>You forgot to add debt card number <br> at payment #1323 Add it now</small>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="/storage/img/icon.svg">
                </a>
            </li>
            <li>
                <a href="/views/Balance.html">
                    <div class="book">
                        <img src="/storage/img/Book.svg">
                        <img src="/storage/img/Ellipse 2.svg" height="8">
                    </div>
                </a>
            </li>
            <li>
                <a href="/views/pago.html">
                    <img src="/storage/img/icon (2).svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/storage/img/Group.svg">
                </a>
            </li>
            <li>
                <a href="/index.html">
                    <div class="men">
                        <img src="/storage/img/manli.svg">
                       
                    </div>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html> 