<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGO</title>
    <link rel="stylesheet" href="../CSS/pago.css">
</head>
<body>
    <header class="header">
        <div class="header__first">
            <img src="../storage/img/LOGO.png" width="50">
            <h2>CASH-VAL</h2>
        </div>
        <div class="second">
            <img src="../storage/img/menudark.svg" width="30">
        </div>
    </header>

    <main class="main">
        <section class="investing">
            <h3>Saldo</h3>

            <div class="ETF">
                <div class="logo">
                    <img src="../storage/img/money_5409738.png" width="">
                </div>
                <!-- <div class="letter">
                    <div class="Measures" >
                        <img src="/storage/img/x.svg" width="25px">
                    </div> -->
                
                    <div class="learn">
                        
                        <h3>Saldo disponible</h3>
                        <small>3,500.400</small>
                        <button>Retirar</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="my">
            <h2>My Cards (4)</h2>
        </div>

         <section class="cards">
            <h2>My Cards (4)</h2> 
            <div class="first">
                <div class="up">
                    <img src="../storage/img/code.svg">
                    <p>****6175</p>
                </div>
                <div class="midle">
                    <p>$47,417</p>
                </div>
                <div class="down">
                    <img src="../storage/img/1card.svg" >
                </div>
            </div>

            <div class="secondta">
                <div class="up">
                    <img src="../storage/img/code.svg">
                    <p>****8745</p>
                </div>
                <div class="midle1">
                    <p>$584,460</p>
                </div>
                <div class="down">
                    <img src="../storage/img/visa.svg" >
                </div>
            </div>

            <div class="firsta">
                <div class="up">
                    <img src="../storage/img/code.svg">
                    <p>****6175</p>
                </div>
                <div class="midle">
                    <p>$47,417</p>
                </div>
                <div class="down">
                    <img src="../storage/img/1card.svg" >
                </div>
            </div>

            <div class="secondta">
                <div class="up">
                    <img src="../storage/img/code.svg">
                    <p>****8745</p>
                </div>
                <div class="midle1">
                    <p>$584,460</p>
                </div>
                <div class="down">
                    <img src="../storage/img/visa.svg" >
                </div>
            </div>
        </section> 
    </main>

    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/icon.svg">
                </a>
            </li>
            <li>
                <a href="../views/Balance.html">
                    <img src="../storage/img/icon (1).svg">
                </a>
            </li>
            <li>
                <a href="../views/pago.html">
                    <div class="cenFo">
                        <img src="../storage/img/iconcenter.svg">
                        <img src="../storage/img/Ellipse 2.svg" height="8">
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="bell">
                        <img src="../storage/img/Group.svg">
                    </div>
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <div class="man">
                        <img src="../storage/img/manli.svg">
                    </div>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>
