<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGO</title>
    <link rel="stylesheet" href="/CSS/pago.css">
</head>
<body>
    <header class="header">
        <div class="first">
            <img src="/storage/img/logodark.svg" width="30">
            <h2>INVETO</h2>
        </div>
        <div class="second">
            <img src="/storage/img/menudark.svg" width="30">
        </div>
    </header>

    <main class="main">
        <section class="investing">
            <h3>Investing Tips</h3>
            
            <div class="ETF">
                <div class="logo">
                    <img src="/storage/img/pig.png">
                </div>
                <div class="letter">
                    <div class="Measures" >
                        <img src="/storage/img/x.svg" width="25px">
                    </div>
                
                    <div class="learn">
                        
                        <h3>What is  an ETF?</h3>
                        <small>By James B,PHD</small>
                        <button>LEARN MORE</button>
                    </div>
                </div>
            </div>
        </section>

         <section class="cards">
            <h2>My Cards (4)</h2> 
            <div class="first">
                <div class="up">
                    <img src="/storage/img/code.svg">
                    <p>****6175</p>
                </div>
                <div class="midle">
                    <p>$47,417</p>
                </div>
                <div class="down">
                    <img src="/storage/img/1card.svg" >
                </div>
            </div>
        </section> 
    </main>

    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="/storage/img/icon.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/storage/img/icon (1).svg">
                </a>
            </li>
            <li>
                <a href="/views/pago.html">
                    <img src="/storage/img/icon (2).svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/storage/img/Group.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="men">
                        <img src="/storage/img/icon(4).svg">
                        <img src="/storage/img/Ellipse 2.svg" height="8">
                    </div>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>
